body{  overflow-x: hidden!important;  }
.navbar {  width:100%;  margin-bottom: 0 !important;  z-index:101!important;  -webkit-border-radius:0 0!important;  -moz-border-radius:0 0!important;  border-radius:0 0!important;  }
.navbar .nav.navbar-nav{margin-left:50px;}
.navbar .navbar-brand{color:#4faf13!important; }
.x-container{  height: 100%; padding: 52px 0;  width:100%; position: absolute; left:0; top:0; z-index: 100; background-color: #f6f6f6;  }
.x-footer{  border-top:1px solid #ddd;  height:52px; width: 100%; position:absolute; left:0; bottom:0; z-index:101;background-color: white;padding: 15px 0;  }
.nowrap{  -ms-text-overflow: ellipsis;  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;  }
a{color:#0a99ff;}
a:hover{
    text-decoration: none;
}