/*  publisher CSS file  */
button,input{ height:100%; outline:none; border:none;}
.pad-publisher{
    position:relative;
    height: auto;
    width:100%;
    border:1px solid #ddd;
    box-shadow:0 0 6px #ddd;
    background-color:white;
}
.pad-publisher .tab-nav{ height:50px;background-color:#f8f8f8; }
.pad-publisher .tab-nav>.btn-scene{ height:100%; min-width:130px; background-color:white;
    border:none;  border-top:3px solid white; color:#666
}
.pad-publisher .tab-nav>.btn-scene.selected{ border-top: 3px solid #4faf13; }

#picker{height:35px;display:inline-block;width:140px;float:left;position: relative;margin-right: 10px;}
#picker .webuploader-pick{
    background-color:#4faf13;
    /* padding: 0 15px; */
    height:100%;
    width: 100%;
    border:none;
    color:white;
    text-align: center;
    margin-right:8px;
    line-height: 35px;
    position: absolute;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}
.webuploader-element-invisible{opacity:0.0;}
.webuploader-element-invisible:hover { cursor: pointer}
.zone-uploaded-pics {
    padding:20px;
    overflow-y: auto;
}
.pre-parent-div {
    display:inline-block;
    position: relative;
    padding: 10px;background-color:white;
    margin-bottom: 10px; margin-right: 10px;
    -webkit-box-shadow:  0 3px 6px #ddd;
    -moz-box-shadow:  0 3px 6px #ddd;
    box-shadow: 0 3px 6px #ddd;}
.pre-img-container{ position:relative; }
.pre-img-progress { position:absolute; top:0; left:0;  height:200px; width:200px; background-color: rgba(0,0,0,.5);}
.pre-img-progress .progress-text { position:absolute; top:0; left:0;  height:100%; width:100%; text-align:center; line-height: 200px; font-size: 20px; color:white; background-color: transparent; z-index:130; }
.pre-img-progress .progress-bar  { position:absolute; top:0; left:0;  height:100%; width:0; background-color: rgba(79,195,19, .3); z-index:120}
.pre-img-container img{}
.pre-foot{height: 35px;text-align:right; font-size: 0; }
.pre-foot .filename, .pre-foot a{height: 35px; line-height:35px; display: inline-block;  position: relative; top:5px; font-size:14px; }
.pre-foot a{ text-align: right; width: 20%; float: right; }
.pre-foot a:hover{ color:#ff2e34; text-decoration: none;cursor:pointer; }
.pre-foot .filename{  text-align: left;  width: 80%; float: left;  }

.pad-main{ }
.pad-main .x-row{height:55px; padding:10px 20px;}
.pad-main .x-row input{ height:100%; padding:0 10px; width:100%; border:1px solid #ddd;}
.pad-main .x-row input.error{ border: 1px solid #ff2e34; color: indianred; text-align:right;  }
.pad-main .pad-function{background-color: #f6f6f6;height: auto;}
.pad-main .pad-function .x-button{
    background-color:#e4e4e4; padding: 0 15px;height:100%; border:none; color:#666; margin-right:8px;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}
.pad-main .pad-function .x-button:hover{ background-color:#4faf13;color:white; }
.pad-main .zone-uploaded-pics, .pad-main .zone-default{position:relative;min-height: 530px;background-color:#eee;}
.pad-result .pad-status{
    background-color:#f4f4f4;
    padding: 40px 0;
    display: block;
    width:100%;
    position:absolute;
    top: 250px;

}
.pad-result{ height:695px; width: 100%; display: block; position: relative;}
.pad-status span.status{
    text-align:center;
    display:block; line-height:60px;font-size: 35px;
    color:#4faf13;
}
.pad-status span.link{ display:block; height:30px; text-align:center;
    line-height:30px; font-size:16px; color:#999; }
.pad-status span.link a{
    color:#4faf13; padding: 0 10px; font-weight: 100; }
.pad-status span.link a:hover{
    color:#439510; text-decoration:none; cursor:pointer;
}
.pad-main .zone-default{line-height:530px; color:#ccc; text-align: center; font-size: 40px; font-weight: 900}
.pad-uploader{height:55px; text-align:center; padding:10px 20px;}
.pad-uploader .btn-publish{ height:100%; width:100%; background-color:#4faf13; color:white; }
.pad-uploader .btn-publish:hover{ height:100%; width:100%; background-color:#439510; color:white; }

.modal-dialog   {width:800px;height: 90%;padding-top: 30px;margin:0 auto!important;}
.modal-body     {/* min-height: 400px; */height: 100%;overflow-y: auto;/* margin: 72px 0; */padding: 52px 0 65px 0!important;position: absolute;}
.modal-content  {width:800px;/* min-height: 400px; */height: 100%;position: relative;border-radius:0;}
.modal-content .row-title{
    position: absolute;
    left: 0;
    z-index: 8000;
    top:0;
    width: 100%;
    height: 55px;
    font-size: 15px;
    background-color: #444;
    padding:10px 20px;
    color:#ddd;
    /* z-index:1000; */
}
.modal-title{line-height:35px;}
.x-row span  { height:100%; line-height:35px;color:#999; font-size: 17px; width:80%;  }
.btn-select-material{
    position:absolute; height:25px; width:25px; background-color:#eee;border:1px solid #aaa;
    z-index:1000; top:15px; left:15px;   font-size:15px; color:white; padding: 0;
}
.btn-select-material.selected{
    background-color:#4faf13;border:1px solid #4faf13;
}
.btn-confirm-material{ position:absolute; bottom:15px; right:15px; height:35px; min-width:80px;  background-color:#4faf13; color:white;}
.btn-confirm-material:hover{  background-color:#439510;  }
.zone-uploaded-pics.in-modal .pre-img-container{
    cursor: pointer;    }